<script id="layerInfo-remoteTemplateId" type="text/x-jsrender">
	<div class="float-map-panel big props" style="margin-bottom:2px;height:auto;min-height:456px; ">
		<ul class="nav" style="font-size:11.5px;margin-left:10px;margin-bottom:10px;margin-right:10px;margin-top:0;list-style:none;padding:0px; ">
			<li style="line-height: 1.8em; border-bottom: 1px solid #DDD;"><span style="font-family:RobotoBold"></span>Сторонний шаблон с собственной формной наполнения<br></br></li>
			{{props properties}}
				{{if key !=='G_AREA' && key !=='FullAddressId' && key !=='HasMunicipality2' && key !== 'wkb_geometry' && key !== 'geom' && key !=='style' && key !=='XMin' && key !=='XMax' && key !=='YMin' && key !=='YMax' && key !=='X_coord' && key !=='Y_coord' && key !=='SHAPE_Length' && key !=='SHAPE_Area' && key !=='X центра' && key !=='Y центра' && key !=='Экстент - X мин.' && key !=='Экстент - X макс.' && key !=='Экстент - Y мин.' && key !=='Экстент - Y макс.' && key !=='Объект обработан - можно удалять' && key !=='Shape_Length' && key !=='Shape_Area' && key !=='SHAPE'}}
					{{if prop === 'Null' ||  prop === 'null'||prop === 'undefined'}} 
						<li style="line-height: 1.8em; border-bottom: 1px solid #DDD;"><span style="font-family:RobotoBold">{{:key}}:</span>&nbsp&nbsp&nbsp-</li>
					{{else}}
						<li style="line-height: 1.8em; border-bottom: 1px solid #DDD;"><span style="font-family:RobotoBold">{{:key}}:</span>&nbsp&nbsp&nbsp{{:prop}}</li>
					{{/if}}
				{{/if}}
			{{/props}}
		</ul>
	</div>
</script>
